<% provide(:title, 'About Us') %>
<h1>Abo<span style="color:red">u</span>t Us</h1>
	<div class="container">
		<p>Muse is an ongoing project that I am designing as part of an assignment for my degree in CS at Trinity College. I am a believer in the maxim that you should only build something that you would actually use yourself, a belief which has led me to create an application that will hopefully help music lovers like myself discover their favorite new tunes.</p>
		<p>
		Please feel free to <%= link_to "contact me", contact_path %> with any questions, comments, suggestions, etc. that you may have. I can't promise that I'll answer them, since I suck with email correspondence, but I'll do my best to 	stay vigilent.
		</p>
	</div>