<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p class="container">
	Thanks for using muse!

	Please feel free to contact me at <a href="mailto:wcvandal@gmail.com">wcvandal@gmail.com</a> or on my github account at <a href="https://github.com/wvandaal">wvandaal</a> if you have any questions, comments, or suggestions.
</p>