<div class="jumbotron masthead">
	<div class="container">
		<h1>muse</h1>
		<p>Bringing your favorite music together, <br>so you don't have to.</p>
		<%= link_to "Sign in with Facebook", "auth/facebook", class: "btn btn-large btn-primary" %>
	</div>
</div>