<div class="jumbotron masthead">
	<div class="container">
			<h1>welcome to muse!</h1>

	<p>This is the home page for the RoR Tutorial sample application.</p>

	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
	</div>

</div>