/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree ../../../vendor/assets/stylesheets
 */

@import "bourbon";
@import "bootstrap";
@import "font-awesome";

@import "variables";
@import "blogs";

/* universal */

hr {
  margin: 40px 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -64px;
  > .container {
    padding-top: 50px;
  }
}

.container#inner{
  padding-top: 0;
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 50px;
}


section {
  overflow: auto
}

textarea {
  resize: vertical;
}

.inner {
  padding-top: 15px;
}

.center { /* associates 'center' class with the property 'text-align: center'; any element (such as a div) with the class 'center' will be associated with these properties */
  text-align: center;
  h1 {  /* Sass CSS allows for nesting of elements (i.e. in regular CSS .center h1 {} would have its own closure). In this way, h1 automatically inherits the .center content */
    margin-bottom: 10px;
  }
}

/* Home */

.number-icon {
  display: inline-block;
  background: rgb(96,108,136); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(96,108,136,1) 2%, rgba(96,108,136,1) 60%, rgba(63,76,107,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(2%,rgba(96,108,136,1)), color-stop(60%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(96,108,136,1) 2%,rgba(96,108,136,1) 60%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(96,108,136,1) 2%,rgba(96,108,136,1) 60%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(96,108,136,1) 2%,rgba(96,108,136,1) 60%,rgba(63,76,107,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(96,108,136,1) 2%,rgba(96,108,136,1) 60%,rgba(63,76,107,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  width: 200px;
  height: 200px;
  border-radius: 100px;
  text-align: center;
  font-size: 2em;
  span {
    display: inline-block;
    margin: 90px auto;
    font-size: 4em;
    color: white;
    font-weight: bold;
  }
}

.btn-custom-red {
  background: url(linen-pattern.png) repeat center center;
  color: rgba(255, 255, 255, 0.1);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: block;
  margin-top: 5px;
  padding: 40px;
  text-decoration: none;
  font-size: 2.5em;
  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.1);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  }
}

.site-stats {
  padding: 25px 0;
  background: url(linen-pattern.png) repeat center center;
  color: rgba(255, 255, 255, 0.1);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  font-size: 1.6em;
  text-rendering: optimizeLegibility;
}

.site-stats-header {
  color: rgba(255, 255, 255, 0.1);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  font-size: 1em;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  margin-bottom: 20px;
}

.section-header {
  color: $gray;
  font-weight: 300;
  font-size: 4em;
  text-align: center;
}

.marketing {
  margin: 50px;
  text-align: center;
}

.marketing-byline {
  text-align: center;
  margin-bottom: 20px;
}

#segment-middle {
  margin-left: 2%;
}

.marketing-segment-header {
  margin: 10px 0 15px 0;
  color: $gray;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
}

.marketing-body {
  margin: 0 15px;
}

.marketing-icon {
  display: inline-block;
  font-size: 10em;  
  border-radius: 15px;
  padding: 20px 30px;
  margin: 10px;
  color: white;
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 70%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(70%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 70%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 70%,#6d0019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 70%,#6d0019 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 70%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  text-align: center; 
  background-position: center;
}


/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 70%,#6d0019 100%); 

 
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
.masthead .btn {
  padding: 19px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(bgs/woven.png) repeat center center;
  opacity: .4;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  .jumbotron:after {
    background-size: 150px 150px;
  }

}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 11% 0;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1.banner {
  font-size: 9em;
  letter-spacing: 15px;
  margin-top: 30px;
  padding: 20px;
  text-align: left;
  background-color: $grayMediumLight;
  color: white;
  font-variant: small-caps;
  text-shadow: 6px 4px #505050;
  margin-left: auto;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.1em;
  color: $gray;
  letter-spacing: -4px;
  padding-top: 4px;
  font-weight: bold;
  line-height: 1;
  &:hover { /* this is another example of nesting in SCSS. In order to reference the parent element (#logo), we must use the character & before the 'hover' attribute */
    color: $redBright;
    text-decoration: none;
  }
}

.menu_icon {
  &:hover {
    background-color: $grayMediumLight;
  }
}

/* footer */

footer {
  margin: 1% 0;
  padding-top: 1%;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a{
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

/* musefeed */

#feed {
    margin-top: 5px;
    float: right;
    display: inline-block;
    width: 100%;
    iframe {
      padding-top: 15px;
      margin-right: 10px;
    }
}

#append_and_paginate {
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

#append_more_results {
  font-size: 2.2em;
  width: 99.7%;
  float: right;
  padding: 9% 0;
  min-height: 55px;
}

#loading {
  font-size: 1.8em;
  color: white;
  display: none;
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

span.header{
  width: 96%;
  margin-top: 0px;
  padding: 3px 15px;
  background-color: $blueGray;
  display: inline-block;
  margin-left: 4px;
  color: white;
  font-weight: bold;
  text-align: right;
  border-radius: 3px;
}

/* accordion */
.accordion-heading {
    background: $redBright;
    position: relative;
    border-radius: 3px;
}

.accordion-heading a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.accordion-inner {
  padding-top: 15px;
}

ul.blogs {
    list-style: none;
    margin:0;
   /* padding-left: 20px; */  
    display: table;
    width: 100%;
    float: left;
    li {
        position: relative;
        z-index:10;
        text-align: left;
        display: table-cell;
        display: inline-block;
        width: 29%;
        vertical-align: bottom;
        padding: 15px 2%;
        -moz-border-radius: 5px;            
        border-radius: 5px;
        &:hover {
          background-color: $grayLighter;
          a {
            color: #505050;
            text-decoration: none;
          }
        }
        a {
        /*  font-variant: small-caps; */
          font-size: 1.2em;
          letter-spacing: 0px;
          color: #505050; 
          vertical-align: bottom;
          padding-left: 3px;
          font-weight: bold;
          span { 
            position:absolute; 
            width:100%;
            height:100%;
            top:0;
            left: 0;
            z-index: 1;
          }   
        }
    }
}


/* navs */

.nav-pills li
  a {
    height: 47px;
    width: 47px;
    background-color: $grayLighter;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: .6em;
    color: $gray;
    &:hover {
      color: white;
      background-color: $red;
      div {
        color: white;
      }
    }
    div {
      color: $gray;
    }
}

.nav-pills > .green > a, .nav-pills > .green > a:hover {
  background-color: $mintGreen;
  color: white;
}

.nav-pills > .blue > a, .nav-pills > .blue > a:hover {
  background-color: $blueGray;
  color: white;
}

#badge {
  width: 99%;
}

.letter-icon{
  width: 100%;
  padding: 10px 0;
  font-size: 3em;
  font-weight: bolder;
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}


/* sidebar */

#blog_nav {
  margin-bottom: 2px;
}

#followers-list {
  display: none;
}

ul.thumbnails {
  margin-bottom: 0px;
  > li {
    margin-bottom: 5px;
  }
}

li.span3.thumb {
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 2px #4d4d4d;
  -moz-box-shadow: 2px 2px 2px #4d4d4d;
  box-shadow: 2px 2px 2px #4d4d4d;
  margin-left: 1.5%;
}

.profile_thumb {
  width: 100%;
}

.nav-list > .nav-header {
  background-color: $blueGray;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 3px;
  a {
    color: white;
    &:hover {
      color: black;
    }
  }
}

.user-sidebar {
  ul {
    li a {
      text-decoration: none;
      color: black;
    }
  }
}

aside {
  section {
    margin-top: 5px;
    background-color: $grayLighter;
    padding-bottom: 15px;
    border-radius: 5px;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 5px;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.1em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
      h2 {
      font-size: .8em;
      font-weight: bold;
      letter-spacing: 0px;
      text-align: left;
      color: gray;
      text-transform: uppercase;
    }
    h3 {
      padding-left: 5px;
      font-size: .85em;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
}

.profile_pic {
  float: left;
  margin-left: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.favicon {
  margin-left: 5px;
  border-radius: 3px;
}

/* song post */

.metadata {
  display: inline-block;
 vertical-align: top;
 width: 75%;
  h1 {
    font-size: 1.1em;
    span.genre {
      font-size: .7em;
    }
  }
  h2 {
    font-size: .9em;
    text-align: left;
    margin-bottom: 5px;
  }
  span {
    font-size: .9em;
    span.badge a {
      font-size: 1em;
      font-weight: bold;
      color: white;
      text-decoration: none;
      padding-right: 2px;
      img {
        padding: 2px 2px;
      }
    }
    a {
      color: $grayDarker;
      font-weight: bold;
    }
  }
}

.metadata > span > span > a.hidden {
  display: none;
}

.player {
  display: block;
  float: right;
  border-radius: 5px;
  div.border {
    padding: 5px 0;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: $grayLighter;
    border-radius: 5px;
  }
  &:hover{
    background-color: $grayLighter;
    .ratings{
      visibility: visible;
    }
  }
  h3.badge-text {
    font-weight: bold;
    font-size: 1em;
    display: inline;
    padding-right: 2px;
  }
}

.row-fluid [class*="span"] {
  margin-left: .6%;
}

.stats{
  float: right;
  text-align: center;
  background-color: $red;
  padding: 0 5px;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  font-size: .7em;
  width: 20%;
  margin-left: 80%;
  > span.likes, > span.favorites, > span.dislikes {
    padding: 0 1em;
    &:before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      position: relative;
      top: 2px;
      margin-right: 3px;
    }
  }
  > span.likes {
    border-left: 2px solid white;
    border-right: 2px solid white;
    &:before { 
      background: url("thumbs_up.png") center center no-repeat; 
      background-size: 12px;
    }
  }
  > span.dislikes:before { 
    background: url("thumbs_down.png") center center no-repeat; 
    background-size: 12px;
  }
  > span.favorites:before { 
    background: url("heart-white.png") center center no-repeat; 
    background-size: 12px;
  }
}

.play {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  float: left;
  background-color: $grayLight;
  width: 8%;
  margin: 5px;
  li {
    a{
      height: 84px;
      background: url('play.png') no-repeat center;
      &:hover{
        background-color: $gray;
      }
    }
  }
}

.album_art {
  display: inline-block;
  margin: 1% 1% 1% 1%;
  img{
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
  }
  a {
    width: 98px;
    height: 98px;
    text-decoration: none;
    display: block;
    position: relative;
    float: left;
    span {
      border-radius: 4px;
      position: absolute;
      background-color: white;
      left: 23%;
      top: 23%;
      filter:alpha(opacity=70);
      -moz-opacity: 0.7;
      -khtml-opacity: 0.7;
      opacity: 0.7;
      img {
        border-style: none;
      }
      &:hover {
          filter:alpha(opacity=90);
          -moz-opacity:.9;
          -khtml-opacity: .9;
          opacity: .9;
        
      }
    }
  }
}

.ratings {
  padding-top: .5%;
  visibility: hidden;
  margin-bottom: 0;
  float: right;
  li {
    a {
      padding-left: 0;
      padding-right: 10px; 
      height: 33%;      
      text-decoration: none;
    }
  }
}

.nav-tabs.nav-stacked.ratings {
  > li a { border: none; }
  > .selected { 
    > a > i { visibility: visible; }
    > .like { color: $mintGreen; }
    > .favorite { color: $redBright; }
    > .dislike {color: $blueLight; }
  }
  > .unselected {
    > a { color: $gray; }
    &:hover {
      > .like { color: $mintGreen; }
      > .favorite { color: $redBright; }
      > .dislike { color: $blueLight; }
    }
  }
}

/* help */
.help {
  margin-top: 55px;
  float: right;
  position: fixed;
  right: -35px;
  padding-right: 40px;
  &:hover {
    right: -30px;
  }
  i {
    color: $grayDarker;
    opacity: .8;
    text-decoration: none;
    padding-left: 5px; 
  }
}

.popover {
  text-align: center;
}

p#sidebar_desc {
  text-align: left;
}

#static_sidebar {
  margin-right: 15px;
}

div.modal-footer {
  .btn-primary {
    float: left;
  }
}

div.modal-header {
  text-align: center;
}

div#tour {
  width: 650px;
}
div.modal-body{
  p {
    text-align: center;
  }
  height: 550px;
  h2 {
    margin-bottom: 10px;
  }
}

/* filters */
.media.filter {
  &:nth-child(even) {
    background-color: white;
  }
  a {
    text-decoration: none;
  }
  margin-top: 0;
  padding: 20px 10px;
  border-radius: 5px;
}

.badge-big {
  padding: 10px;
  font-size: .65em; 
  width: 14%;
  letter-spacing: 0px;
}

.form-label {
  font-size: 1em;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.form-header {
  font-size: 1em;
  padding: 5px;
  text-align: center;
  width: 98%;
  margin: 5px 0;
}

.navbar .nav > li > a {
  >i.green {
    color: $mintGreen;
  }
  >i.red {
    color: $redBright;
  }
}

.disabled {
  color: $grayLight;
}
.background-blue {
  background-color: $blueGray;
}
.background-green {
  background-color: $mintGreen;
}
.background-red {
  background-color: $redBright;
}
